{% load staticfiles %}
<!DOCTYPE html>
<html>
		<head>
				<!-- Favicon -->
				<link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
				<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
				<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
				<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
				<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
				<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
				<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
				<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
				<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
				<link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
				<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
				<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
				<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
				<link rel="manifest" href="{% static 'favicon/manifest.json' %}">
				<meta name="msapplication-TileColor" content="#ffffff">
				<meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
				<meta name="theme-color" content="#ffffff">
			
				<!-- Site title -->
				<title>TourGo: Drive the future</title>
			
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				<meta name="description" content="">
				<meta name="author" content="">
			
				<!-- Additional CSS #possibly deletable
					<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">-->
			
				<!-- Bootstrap core CSS -->
				<link href="{% static 'index_css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
			
				<!-- Custom Page CSS -->
				<link href="{% static 'custom_css/index.css' %}" rel="stylesheet">
				<link href="{% static 'custom_css/about.css' %}" rel="stylesheet">
</head>			
<body>
	<meta  charset="UTF-8">
	<title>Login</title>

	{% if form.errors %}

	<p>her is something wrong with what you've entered</p>
	{% endif %}

	{% if next %}
	<p>hey you can't access this page  </p>
	{% endif %}

	<h1>Login to TourGo</h1>
	<form method="post" action="{% url 'user_dash' %}">
		{% csrf_token %}
	<!-- dec i need you to find out how to edit this to look nicer  -->
		<P>Usernaem: {{ form.username }} </P>
		<P>Password: {{ form.password }}</P>

		<P><input type="submit" = value="login"></P>
		<input type="hidden" name="next" value="{{ next }}">
		
	</form>
		

</body>
</html>