<!DOCTYPE html>
<html>
<body>
	<meta  charset="UTF-8">
	<title>Login</title>

	{% if form.errors %}

	<p>her is something wrong with what you've entered</p>
	{% endif %}

	{% if next %}
	<p>hey you can't access this page  </p>
	{% endif %}

	<h1>Login to TourGo</h1>
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
	<!-- dec i need you to find out how to edit this to look nicer  -->
		<P>Usernaem: {{ form.username }} </P>
		<P>Password: {{ form.password }}</P>

		<P><input type="submit" = value="login"></P>
		<input type="hidden" name="next" value="{{ next }}">
		
	</form>
		

</body>
</html>