<!DOCTYPE html>
<html>
<body>
	<meta  charset="UTF-8">
	<title>Registration Page!</title>


	<h1>Registration Page!</h1>
	

	{% if next %}
	<p>hey you can't access this page  </p>
	{% endif %}
	
	<form method="post" action="{% url 'register' %}">
		{% csrf_token %} 

		{% if form.errors %}
		<p>her is something wrong with what you've entered</p>
		{% endif %}

	<!-- dec i need you to find out how to edit this to look nicer  -->
		{{ form }}

		<input type="submit" value="Register">
		
	</form>
		

</body>
</html>