@import "compass/css3";

.main { display: flex; flex-flow: column-reverse;
    height: 100%; }

h3 {
    text-align: center;
    max-width: 320px;
}

.button-area {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 320px;
}

.button-area>a {
    background: #1565c0;
    padding: 1em 2.4em;
    font-size: .9em;
    margin: 1em;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

.button-area>a:hover {
    background: #003c8f;
    padding: 1em 2.4em;
    font-size: .9em;
    margin: 1em;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}



.button-area-line {
    margin: 10px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* max-width: 90%; */
}

.button-area-line>a {
    background: #1565c0;
    padding: 1em;
    font-size: .9em;
    margin: .3em;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

.button-area-line>a:hover {
    background: #003c8f;
    padding: 1em;
    font-size: .9em;
    margin: .3em;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

.jumbotron {
    background-image: url("../images/learn.jpg");
    background-size: cover;
    min-height: 600px;
    margin-bottom: 4rem;
    top: 0;
}


.codegena_iframe {
    margin: auto;
}

.container-form > .text-block {
    padding: 1em;
    margin: .3em;
}
