.jumbotron {
    background-image: url("../images/maintenance.jpg");
    background-size: cover;
    min-height: 600px;
    margin-bottom: 4rem;
    top: 0;
}

/* .col-25 {
    text-align: right;
    padding-right: 80px;
}  */

form {
    padding-left: 35px;
    padding-right: 35px;
}

.row {
    padding-bottom: 5px;
}

