.bg-denim {
    background-color: #1565c0 !important;
}

.border-left-denim {
    border-left: 0.25rem solid #1565c0 !important;
}

.border-bottom-denim {
    border-bottom: 0.25rem solid #224abe !important;
}

.text-denim {
    color: #1565c0 !important;
}

.text-denim-300 {
    color: #1565c0 !important;
    opacity: 0.5;
}

.text-denim-400 {
    color: #1565c0 !important;
    opacity: 0.7;
}

.btn-primary {
    color: #fff !important;
    background-color: #1565c0 !important;
    border-color: #1565c0 !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #3f81cb !important;
    border-color: #3f81cb !important;
}

.text-success-300 {
    color: #1cc88a !important;
    opacity: 0.7;
}

.text-info-300 {
    color: #36b9cc !important;
    opacity: 0.7;
}

.text-warning-300 {
    color: #f6c23e !important;
    opacity: 0.7;
}

.bg-gradient-denim {
    background-color: #1565c0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #1565c0), to(#224abe));
    background-image: linear-gradient(180deg, #1565c0 10%, #224abe 100%);
    background-size: cover;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* nav {
  position: relative;
} */

.nav-cus {
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: #1565c0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #1565c0), to(#224abe));
    background-image: linear-gradient(180deg, #1565c0 10%, #224abe 100%);
    background-size: cover;
    font-family: roboto;
    opacity: 1;
    width: 100%;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20pt !important;
}

.tour {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
    font-size: 20pt !important;
    color: black;
    text-transform: capitalize !important;
}

.go {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
  font-size: 20pt !important;
  color: white;
  text-transform: capitalize !important;
}

.nav-link-icon {
    font-size: 24px !important;
}

.badge {
    font-size: 50% !important;
}

.selector {
    position: absolute !important;
    left: 10px !important;
}

.scroll-to-top { 
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: #1565c0 !important;
    line-height: 46px;
  }

  .scroll-to-top:hover {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: #3f81cb !important;
    line-height: 46px;
  }

  .mr-2 {
      text-transform: capitalize;
  }

  .text-white-50 {
    text-transform: capitalize;
  }

  .mb-0 {
    text-transform: capitalize;
  }

  .place {
      text-transform: capitalize;
  }