{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <!-- Site title -->
  <title>TourGo: Drive the future</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Additional CSS #possibly deletable
  <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">-->

  <!-- Bootstrap core CSS -->
  <link href="{% static 'index_css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="{% static 'custom_css/nav.css' %}" rel="stylesheet">

  <!-- Custom Page CSS -->
  <link href="{% static 'custom_css/index.css' %}" rel="stylesheet">
  <link href="{% static 'custom_css/quote.css' %}" rel="stylesheet">

  <!-- Scroll JS -->


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark static-top" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><span class="tour">Tour</span>Go<img
            src="{% static 'images/car.png' %}" width="60" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'quote' %}">get a quote</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'about' %}">how it works
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'faq' %}">faq</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user_dash?user_id=1">dashboard <i class="fas fa-caret-down"></i></a>
              <ul class="pull-left">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'learning_platform' %}">learning
                    platform</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'maintenance_checklist' %}">maintenance
                    checklist
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

    </nav>
  </header>
  <!-- Page Content -->
  <main role="main">
    <div class="jumbotron opacity">

    </div>

    <div class="container">

      <section id="about">

        <div class="row">
          <h2>About TourGo</h2>
          <p class="lead">TourGo is Ireland's first Car as a Service telematics provider. Our service combines the
            costs of getting on the road,
            spreading it across monthly installments. TourGo finds the best priced, quality vehicles and gets you
            behind the wheel cheaper and easier
            than anyone else. Included in your TourGo membership you get:
          </p>
          <ul>
            <li>Your choice of vehicle from a list of brand new, top spec models.</li>
            <li>Full comprehensive insurance</li>
            <li>Enrollment in TourGo's Learning Platform. Become an expert driver.</li>
            <li>Routine vehicle servicing and maintenance.</li>
          </ul>

        </div>
      </section>
      <section id="services" class="bg-light">
        <div class="row">

          <h2>Who is TourGo for?</h2>
          <p class="lead">TourGo is aimed at young and new drivers. We understand that getting on the road can be very
            challenging for young drivers
            and TourGo wants to make it easier and safer for young people to get started. We've teamed up with some of
            Ireland's leading motor industry
            leaders to give you the best options, tailored to you! At present TourGo accepts drivers aged between 21
            to 29. We hope to bring our services
            to people aged 18-21 from 2021. For drivers aged 30+ please contact our Customer Service and we'll see if
            we can find the right fit for you.
          </p>

        </div>
      </section>
      <section id="contact">

        <div class="row">

          <h2>How is TourGo able to provide this service?</h2>
          <p class="lead">Through TourGo's learning platform, we can offer our customers highly competitive insurance
            and vehicles by passively
            improving our customer driving quality. As a TourGo member you'll receive a weekly score for your
            performance driving over the past
            7 days. You'll then be asked to complete a brief lesson plan based on your weaker areas of driving. You'll
            have 7 days to complete your
            learning modules. What these lessons do is provide you with continuous feedback, in a casual, passive way
            to improve how you drive over
            time. TourGo promises to revolutionise the telematics leasing industry and thankfully our partners believe
            in this vision too. Through
            proving that our model works to make drivers better and safer, we'll be able ...

          </p>

        </div>
      </section>
      <section id="services" class="bg-light">

        <div class="row">

          <h2>Services we offer</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore,
            expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum
            vel, labore ut velit dignissimos.</p>

        </div>
      </section>

      <div class="row">

        <h2>Contact us</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor,
          provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa
          exercitationem, in, quo totam.</p>

      </div>
      </section>
    </div>

    <!-- FOOTER -->
    <div class="ft-container">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <div class="row">
          <div class="col-12 col-md">
            <a href="{% url 'about' %}"><img class="mb-2" src="{% static 'favicon/favicon-96x96.png' %}" alt=""
                width="72" height="72"></a>
            <small class="d-block mb-3 text-muted">&copy; 2018-2019</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="{% url 'index' %}">Home</a></li>
              <li><a class="text-muted" href="{% url 'about' %}">About</a></li>
              <li><a class="text-muted" href="{% url 'faq' %}">FAQs</a></li>
              <li><a class="text-muted" href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="{% url 'quote' %}">Join TourGo</a></li>
              <li><a class="text-muted" href="{% url 'login' %}">Login</a></li>
              <li><a class="text-muted" href="/user_dash?user_id=1">Dashboard</a></li>
              <li><a class="text-muted" href="/user_dash?user_id=1">Learning platform</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted"
                  href="https://gitlab.computing.dcu.ie/moored39/2019-ca472-gambo-moore">Sitemap</a></li>
              <li><a class="text-muted"
                  href="https://gitlab.computing.dcu.ie/moored39/2019-ca472-gambo-moore">Locations</a></li>
              <li><a class="text-muted"
                  href="https://gitlab.computing.dcu.ie/moored39/2019-ca472-gambo-moore">Privacy</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </main>


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'index_css/vendor/jquery/jquery.min.js' %} "></script>
  <script src="{% static 'index_css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Scrolling Header JavaScript -->
  <script src="{% static 'custom_js/scroll.js' %}"></script>

</body>

</html>