{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Site title -->
    <title>TourGo: Drive the future</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Additional CSS #possibly deletable
        <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">-->

    <!-- Bootstrap core CSS -->
    <link href="{% static 'index_css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="{% static 'custom_css/nav.css' %}" rel="stylesheet">

    <!-- Custom Page CSS -->
    <link href="{% static 'custom_css/index.css' %}" rel="stylesheet">
    <link href="{% static 'custom_css/quote.css' %}" rel="stylesheet">
    <link href="{% static 'custom_css/learning.css' %}" rel="stylesheet">
    <link href="{% static 'custom_css/fatigue.css' %}" rel="stylesheet">

    <!-- Scroll JS -->


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">



    <!-- js calculator -->
    <script type="text/javascript">
        function submitQuiz() {
            console.log('submitted');

            // get each answer score
            function answerScore(qName) {
                var radiosNo = document.getElementsByName(qName);

                for (var i = 0, length = radiosNo.length; i < length; i++) {
                    if (radiosNo[i].checked) {
                        // do something with radiosNo
                        var answerValue = Number(radiosNo[i].value);
                    }
                }
                // change NaNs to zero
                if (isNaN(answerValue)) {
                    answerValue = 0;
                }
                return answerValue;
            }

            // calc score with answerScore function
            var calcScore = (answerScore('q1') + answerScore('q2') + answerScore('q3') + answerScore('q4'));
            console.log("CalcScore: " + calcScore); // it works!

            // function to return correct answer string
            function correctAnswer(correctStringNo, qNumber) {
                console.log("qNumber: " + qNumber);  // logs 1,2,3,4 after called below
                return ("The correct answer for question #" + qNumber + ": &nbsp;<strong>" +
                    (document.getElementById(correctStringNo).innerHTML) + "</strong>");
            }

            // print correct answers only if wrong (calls correctAnswer function)
            if (answerScore('q1') === 0) {
                document.getElementById('correctAnswer1').innerHTML = correctAnswer('correctString1', 1);
            }
            if (answerScore('q2') === 0) {
                document.getElementById('correctAnswer2').innerHTML = correctAnswer('correctString2', 2);
            }
            if (answerScore('q3') === 0) {
                document.getElementById('correctAnswer3').innerHTML = correctAnswer('correctString3', 3);
            }
            if (answerScore('q4') === 0) {
                document.getElementById('correctAnswer4').innerHTML = correctAnswer('correctString4', 4);
            }

            // calculate "possible score" integer
            var questionCountArray = document.getElementsByClassName('question');

            var questionCounter = 0;
            for (var i = 0, length = questionCountArray.length; i < length; i++) {
                questionCounter++;
            }

            // show score as "score/possible score"
            var showScore = "Your Score: " + calcScore + "/" + questionCounter;
            // if 4/4, "perfect score!"
            if (calcScore === questionCounter) {
                showScore = showScore + "&nbsp; <strong>Perfect Score!</strong>"
            };
            document.getElementById('userScore').innerHTML = showScore;
        }

        $(document).ready(function () {

            $('#submitButton').click(function () {
                $(this).addClass('hide');
            });

        });
    </script>


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark static-top" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}"><span class="tour">Tour</span>Go<img
                        src="{% static 'images/car.png' %}" width="60" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quote' %}">get a quote</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">how it works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'faq' %}">faq</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user_dash?user_id=1">dashboard <i
                                    class="fas fa-caret-down"></i></a>
                            <ul class="pull-left">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'learning_platform' %}">learning
                                        platform
                                        <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'maintenance_checklist' %}">maintenance
                                        checklist
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Page Content -->
    <main role="main">
        <div class="jumbotron">

        </div>
        <div class="container">
            <div class="container-form">
                <h1>Fatigue</h1>
                <div class="text_block">
                    <p>Fatigue is the physical and mental impairment brought about by inadequate rest over a period of
                        time.
                        Ideally, people need 7/8 hours’ sleep every night. Drivers suffering from a sleep debt are at
                        risk
                        of ‘nodding off’ whilst driving and substantially increasing their risk of being involved in a
                        crash. It is estimated that driver fatigue is a contributory factor in as many as 1 in 5 driver
                        deaths in Ireland every year. Furthermore, tiredness-related collisions are 3 times more likely
                        to
                        be fatal or result in a serious injury because of the high impact speed and lack of avoiding
                        action.
                        A survey* of drivers’ attitudes to driver fatigue conducted by the RSA in 2014 revealed that
                        over 1
                        in 10 motorists have fallen asleep at the wheel. The survey also found that motorists who drive
                        as
                        part of their work, and motorists who admit to driving after taking any amount of alcohol, had a
                        higher than average incidence of falling asleep at the wheel (almost 1 in 5 fell asleep at the
                        wheel). </p>
                    <p>If you'd like to look at other lessons currently available to you, please select from below.</p>
                    <div class="button-area-line">
                        <a href="{% url 'speed_learn' %}">Speed</a>
                        <a href="{% url 'smoothness_learn' %}">Smoothness</a>
                        <a href="{% url 'fatigue_learn' %}">Fatigue</a>
                        <a href="{% url 'tod_learn' %}">Time of Day</a>
                    </div>
                </div>
                <div class="codegena_iframe" data-src="https://www.youtube.com/embed/DpAW-k55FGE"
                    style="height:505px;width:853px;" data-responsive="true"
                    data-img="http://www.rsa.ie/Documents/Campaigns/Drvier%20Fatigue/Images/1%20(1).jpg"
                    data-css="background:url('//codegena.com/wp-content/uploads/2015/09/loading.gif') white center center no-repeat;border:0px;">
                </div>
                <script src="https://rawgit.com/shaneapen/Codegena/master/async-iframe.js"></script>


                <h2>Driver Fatigue</h2>
                <p>If a driver fights sleep while driving, it’s the same as driving while over the drink drive limit.
                </p>
                <p>You should recognise the signs that you are too tired to continue driving, and then Stop, Sip, Sleep
                    –
                    Stop the car in a safe place, Sip a caffeine drink, and Sleep for 15-20 minutes. This should enable
                    you
                    to continue driving for another hour or so.</p>
                <p>The RSA have the following advice for tired drivers:
                    <ul>
                        <li>Stop, park in a safe place and take a nap for 15 minutes (set your mobile phone alarm). This
                            is
                            the most important tactic. </li>
                        <li>To really make the most of the break, take a caffeine drink before the nap (150mg of
                            caffeine
                            e.g. 2 cups of coffee). After the nap, the caffeine should have started to take effect.
                        </li>
                        <li>Then get some fresh air and stretch your legs for a few minutes.</li>
                        <li>By following all of the above advice you should be able to drive for another hour or so.
                        </li>
                    </ul>
                </p>


                <h2 class="quizHeader">Test Yourself! Be a better driver.</h2>

                <div style="width:100%">
                    <div class="col-sm d-flex">
                        <div class="card card-body flex-fill">
                            <p class="question">1. If feeling drowsy behind the wheel, what should you do?</p>

                            <ul>
                                <input class="answer" type="radio" name="q1" value="1">
                                <label id="correctString1">Stop, Sip, and Sleep</label>
                                <br>
                                <input class="answer" type="radio" name="q1" value="0">
                                <label>If close to your destination, power through. You can rest when you get
                                    there.</label>
                                <br>
                                <input class="answer" type="radio" name="q1" value="0">
                                <label>Open your windows and let the fresh air keep you awake.</label>
                                <br>
                                <input class="answer" type="radio" name="q1" value="0">
                                <label>Turn up the radio.</label>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm d-flex">
                        <div class="card card-body flex-fill">
                            <p class="question">2. What proportion of Irish road deaths are as a result of driver
                                fatigue
                                each year?</p>

                            <ul>
                                <input class="answer" type="radio" name="q2" value="0">
                                <label>5%</label>
                                <br>
                                <input class="answer" type="radio" name="q2" value="1">
                                <label id="correctString2">20%</label>
                                <br>
                                <input class="answer" type="radio" name="q2" value="0">
                                <label>2%</label>
                                <br>
                                <input class="answer" type="radio" name="q2" value="0">
                                <label>15%</label>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm d-flex">
                        <div class="card card-body flex-fill">
                            <p class="question">3. How frequently should you take a break when driving?</p>

                            <ul>
                                <input class="answer" type="radio" name="q3" value="0">
                                <label>Every 20 minutes</label>
                                <br>
                                <input class="answer" type="radio" name="q3" value="1">
                                <label id="correctString3">As often as necessary, avoid ever driving for longer than 90
                                    minutes without a break.</label>
                                <br>
                                <input class="answer" type="radio" name="q3" value="0">
                                <label>At least every 3 hours.</label>
                                <br>
                                <input class="answer" type="radio" name="q3" value="0">
                                <label>Don't take breaks, it'll only increase your journey time.</label>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm d-flex">
                        <div class="card card-body flex-fill">
                            <p class="question">4. When pulling in for a rest, how long should you nap for?</p>

                            <ul>
                                <input class="answer" type="radio" name="q4" value="0">
                                <label>2 hours</label>
                                <br>
                                <input class="answer" type="radio" name="q4" value="1">
                                <label id="correctString4">15-20 minutes</label>
                                <br>
                                <input class="answer" type="radio" name="q4" value="0">
                                <label>5 minutes</label>
                                <br>
                                <input class="answer" type="radio" name="q4" value="0">
                                <label>A full night's sleep</label>
                            </ul>
                        </div>
                    </div>
                </div>
                <br />
                <div class="submitter">
                    <button class="btn" id="btn" onClick="submitQuiz()">Submit Answers</button>
                </div>

                <!--show only wrong answers on submit-->
                <div class="quizAnswers" id="correctAnswer1"></div>
                <div class="quizAnswers" id="correctAnswer2"></div>
                <div class="quizAnswers" id="correctAnswer3"></div>
                <div class="quizAnswers" id="correctAnswer4"></div>

                <!--show score upon submit-->
                <div>
                    <h2 class="quizScore" id="userScore"></h2>
                </div>
            </div>
        </div>



        </div>

        <!-- FOOTER -->
        <div class="ft-container">
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <p class="float-right">
                    <a href="#">Back to top</a>
                </p>
                <div class="row">
                    <div class="col-12 col-md">
                        <a href="{% url 'about' %}"><img class="mb-2" src="{% static 'favicon/favicon-96x96.png' %}"
                                alt="" width="72" height="72"></a>
                        <small class="d-block mb-3 text-muted">&copy; 2018-2019</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="{% url 'index' %}">Home</a></li>
                            <li><a class="text-muted" href="{% url 'about' %}">About</a></li>
                            <li><a class="text-muted" href="{% url 'faq' %}">FAQs</a></li>
                            <li><a class="text-muted" href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="{% url 'quote' %}">Join TourGo</a></li>
                            <li><a class="text-muted" href="{% url 'login' %}">Login</a></li>
                            <li><a class="text-muted" href="/user_dash?user_id=1">Dashboard</a></li>
                            <li><a class="text-muted" href="/user_dash?user_id=1">Learning platform</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted"
                                    href="https://gitlab.computing.dcu.ie/moored39/2019-ca472-gambo-moore">Sitemap</a>
                            </li>
                            <li><a class="text-muted"
                                    href="https://gitlab.computing.dcu.ie/moored39/2019-ca472-gambo-moore">Locations</a>
                            </li>
                            <li><a class="text-muted"
                                    href="https://gitlab.computing.dcu.ie/moored39/2019-ca472-gambo-moore">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'index_css/vendor/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'index_css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Scrolling Header JavaScript -->
    <script src="{% static 'custom_js/scroll.js' %}"></script>
</body>

</html>