{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">

  <title>TourGo: Drive the future</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'index_css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <style>

  html {
    font-family: roboto;
  }

  nav {
    position: relative;
  }
  .navbar {
    position:absolute;
    top:0;
    z-index:10;
    background-color: #1565c0;
    font-family: roboto;
    opacity: 0.85;
    width:100%;
  }

  .navbar-brand {
    font-family: roboto;
    font-weight: bold;
    font-size: 20pt;
  }
  .tour {
    color: black;
  }

  .btn-primary {
    background-color: #1565c0;
  }

  .svg-box {
  height: 120px;
  position: relative;
}

  .svgfile {
    margin: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    fill:black;
  }
  

  /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /* padding-top: 3rem; */
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  top: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 48rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 48rem;
  object-fit: cover;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.blur {-webkit-filter: blur(4px);filter: blur(4px);}
.brightness {-webkit-filter: brightness(0.30);filter: brightness(0.30);}
.contrast {-webkit-filter: contrast(180%);filter: contrast(180%);}
.grayscale {-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);}
.invert {-webkit-filter: invert(100%);filter: invert(100%);}
.opacity {-webkit-filter: opacity(75%);filter: opacity(75%);}
.saturate {-webkit-filter: saturate(7); filter: saturate(7);}
.sepia {-webkit-filter: sepia(100%);filter: sepia(100%);}
.shadow {-webkit-filter: drop-shadow(8px 8px 10px green);filter: drop-shadow(8px 8px 10px green);}



  </style>

</head>

<body>

  <!-- Navigation -->
  <header>
  <nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#"><span class="tour">Tour</span>Go<img src="{% static 'images/car.png' %}" width="60"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">get a quote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">how it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

  <main role="main">

  <!-- Page Content -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" src="{% static 'images/carousel-one.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Drive the newest cars.</h1>
              <p>Looking to drive something a little nicer than your budget allows? TourGo’s all-inclusive leasing allows you to drive a new car for the same price as purchasing and insuring a 10-year-old car.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Join today</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="second-slide" src="{% static 'images/carousel-two.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Take the lead.</h1>
              <p>Personalised plans allow you to own the road without the worries of owning the car. All the benefits. None of the pains.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="{% static 'images/carousel-three.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption text-right">
              <h1>Be a great driver.</h1>
              <p>Your dashboard and learning platform will help improve your driving. Become a high performance driver through TourGo and know more looking after your car, your wallet, and your safety.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
                <div class="svg-box"><svg height="62px"  viewBox="0 0 24 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
                  <title>money-bill</title>
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Artboard" transform="translate(-13.000000, -105.000000)" fill-rule="nonzero" fill="#000000">
                          <path class="svgfile" d="M36,115 L33,115 L33,118 L32,119 L32,114 L37,114 L36,115 Z M25,116 C22.790861,116 21,114.209139 21,112 C21,109.790861 22.790861,108 25,108 C27.209139,108 29,109.790861 29,112 C29,114.209139 27.209139,116 25,116 Z M25,115 C26.6568542,115 28,113.656854 28,112 C28,110.343146 26.6568542,109 25,109 C23.3431458,109 22,110.343146 22,112 C22,113.656854 23.3431458,115 25,115 Z M14,109.5 L14,108.5 C15.3807119,108.5 16.5,107.380712 16.5,106 L17.5,106 C17.5,107.932997 15.9329966,109.5 14,109.5 Z M14,115 C15.9329966,115 17.5,116.567003 17.5,118.5 L16.5,118.5 C16.5,117.119288 15.3807119,116 14,116 L14,115 Z M33,106 L34,106 C34,107.380712 35.1192881,108.5 36.5,108.5 L36.5,109.5 C34.5670034,109.5 33,107.932997 33,106 Z M13,105 L37,105 L37,115 L33,119 L13,119 L13,105 Z M14,106 L14,118 L32.5857864,118 L36,114.585786 L36,106 L14,106 Z" id="money-bill"></path>
                      </g>
                  </g>
                </svg></div>
              <h2>Drive Cheaper</h2>
              <p>We optimise the cost of driving, with vehicles that are affordable to insure, tax, and maintain. You’ll also learn how to drive for fuel efficiency and look after your car to avoid expensive repairs.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="svg-box"><svg height="72px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
                  <title>stearing-wheel</title>
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Stage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Artboard" transform="translate(-22.000000, -396.000000)" fill-rule="nonzero" fill="#000000">
                          <path class="svgfile" d="M43,416 C43.5522847,416 44,416.447715 44,417 C44,417.552285 43.5522847,418 43,418 C43,418.552285 42.5522847,419 42,419 C41.4477153,419 41,418.552285 41,418 C40.4477153,418 40,417.552285 40,417 C40,416.447715 40.4477153,416 41,416 C41,415.447715 41.4477153,415 42,415 C42.5522847,415 43,415.447715 43,416 Z M42,436 C30.954305,436 22,427.045695 22,416 C22,404.954305 30.954305,396 42,396 C53.045695,396 62,404.954305 62,416 C62,427.045695 53.045695,436 42,436 Z M42,434 C51.9411255,434 60,425.941125 60,416 C60,406.058875 51.9411255,398 42,398 C32.0588745,398 24,406.058875 24,416 C24,425.941125 32.0588745,434 42,434 Z M39.8966716,423.579068 C40.0733431,424.177496 40.331252,426.083963 40.4315505,427.622729 C40.4926367,428.559903 40.4988038,429.351681 40.4364976,429.944696 C40.3118635,431.130931 39.9461151,431.91171 38.810016,431.681773 C33.7256867,430.652744 29.4558018,427.195011 27.3646889,422.475172 C26.4974747,420.517788 29.738587,418.271199 33.1590181,418.904009 C35.3689377,419.312863 39.4671961,422.124334 39.8966716,423.579068 Z M38.4357856,427.752815 C38.3443886,426.350615 38.1031857,424.567639 37.9785172,424.145357 C37.7965597,423.529025 34.3373483,421.15595 32.795175,420.870635 C31.5450443,420.639349 30.5379185,420.845898 29.8324099,421.334924 C29.580371,421.509626 29.3922453,421.707096 29.2904726,421.879547 C31.0465253,425.669237 34.4221292,428.497338 38.4632271,429.549609 C38.4933498,429.099626 38.4832059,428.480331 38.4357856,427.752815 Z M43.8061049,423.579068 C44.2355804,422.124334 48.3338388,419.312863 50.5437584,418.904009 C53.9641895,418.271199 57.2053018,420.517788 56.3380876,422.475172 C54.2469747,427.195011 49.9770898,430.652744 44.8927605,431.681773 C43.7566614,431.91171 43.390913,431.130931 43.2662789,429.944696 C43.2039727,429.351681 43.2101398,428.559903 43.271226,427.622729 C43.3715245,426.083963 43.6294334,424.177496 43.8061049,423.579068 Z M45.2669909,427.752815 C45.2195705,428.480331 45.2094267,429.099626 45.2395494,429.549609 C49.2806473,428.497338 52.6562512,425.669237 54.4123038,421.879547 C54.3105312,421.707096 54.1224055,421.509626 53.8703666,421.334924 C53.164858,420.845898 52.1577322,420.639349 50.9076015,420.870635 C49.3654281,421.15595 45.9062168,423.529025 45.7242593,424.145357 C45.5995908,424.567639 45.3583879,426.350615 45.2669909,427.752815 Z M42,412 C39.2749846,412 37.3981467,412.69162 34.717372,414.336667 C34.5080757,414.4651 33.7959743,414.907936 33.7683667,414.925016 C33.3875571,415.160619 33.0972164,415.335887 32.8113599,415.50075 C32.5653793,415.642616 32.3332177,415.770379 32.1065345,415.887856 C28.4655862,417.774741 26.0264444,418.229871 25.1115599,416.458993 C24.3226583,414.931971 24.7184919,413.841706 26.0444631,412.056547 C26.388268,411.593682 26.4717936,411.478185 26.5995751,411.280144 C26.7420657,411.059307 26.837228,410.876659 26.8920226,410.719864 C29.117596,404.351395 35.1443617,400 42,400 C48.870971,400 54.908194,404.37082 57.1218699,410.759788 C57.1750637,410.913313 57.2679205,411.092547 57.4071215,411.309104 C57.534579,411.507392 57.6194776,411.624864 57.9629161,412.087137 C59.2812792,413.861672 59.6748195,414.944828 58.8874539,416.460897 C57.9757995,418.216282 55.5530206,417.761625 51.9372871,415.887861 C51.7376061,415.784381 51.5333132,415.672849 51.3189697,415.550807 C51.0194873,415.380288 50.714965,415.198061 50.3178758,414.953953 C50.2639051,414.920775 49.5399288,414.473037 49.3248841,414.341861 C46.6250872,412.695008 44.7307995,412 42,412 Z M42,410 C45.1638808,410 47.3812882,410.81356 50.3663918,412.634447 C50.587715,412.769453 51.3159664,413.219835 51.3652785,413.250149 C51.7449258,413.483535 52.0319783,413.655308 52.3085581,413.812786 C52.5009977,413.922357 52.6823957,414.02139 52.857511,414.112139 C54.2995022,414.859415 55.4822409,415.323218 56.3204962,415.480525 C56.9117643,415.591482 57.110176,415.543667 57.1125461,415.539103 C57.4189526,414.949119 57.2479339,414.478418 56.3574878,413.279865 C55.9824517,412.775061 55.8868563,412.642788 55.7247144,412.390541 C55.5064657,412.051009 55.3438552,411.737134 55.2320908,411.414567 C53.2953326,405.824821 48.0122751,402 42,402 C36.0011298,402 30.7272357,405.807813 28.7800525,411.37967 C28.6664057,411.70487 28.5015228,412.021335 28.2801167,412.364478 C28.1184613,412.615018 28.0246712,412.744708 27.650014,413.24911 C26.7506816,414.459884 26.5770191,414.938211 26.8884401,415.541007 C26.8943589,415.552464 27.0970798,415.60194 27.6958867,415.490206 C28.5407011,415.332568 29.7325727,414.865519 31.18629,414.112144 C31.3847383,414.009301 31.5909257,413.895832 31.8121585,413.768239 C32.0769671,413.615514 32.3513088,413.449905 32.7160971,413.224214 C32.7392391,413.209896 33.4559858,412.764172 33.6713275,412.632029 C36.6383467,410.811329 38.8400373,410 42,410 Z" id="stearing-wheel"></path>
                      </g>
                  </g>
              </svg></div>
              <h2>Drive Safer</h2>
              <p>Strive for performance on the road and allow TourGo to maximise your driving potential. We assess your driving using telematics and suggest real time improvements through our learning platform and dashboard.</p>
              <p></p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="svg-box"><svg height="60px" viewBox="0 0 47 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
                  <title>sedan</title>
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Stage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Artboard" transform="translate(-529.000000, -114.000000)" fill-rule="nonzero" fill="#000000">
                          <path class="svgfile" d="M546,130 L558,130 C558.552285,130 559,129.552285 559,129 C559,128.447715 558.552285,128 558,128 L546,128 C545.447715,128 545,128.447715 545,129 C545,129.552285 545.447715,130 546,130 Z M560.140874,119 L554.967391,116.125843 C554.818833,116.043311 554.651692,116 554.481748,116 L552,116 L552,119 L560.140874,119 Z M563.947133,120.999768 C563.939902,120.999922 563.932652,121 563.925384,121 L541.574501,121 L537.575555,120.000263 C537.48506,120.034058 537.392785,120.063536 537.299027,120.088538 L531.742337,121.570322 C531.493323,121.636725 531.287401,121.793641 531.156122,122 L531.925148,122 C532.477432,122 532.925148,122.447715 532.925148,123 C532.925148,123.552285 532.477432,124 531.925148,124 L531,124 L531,127 C531,127.552285 531.447715,128 532,128 L533,128 C533.552285,128 534,128.447715 534,129 C534,129.552285 533.552285,130 533,130 L532,130 C530.343146,130 529,128.656854 529,127 L529,122.536557 C529,121.177405 529.913752,119.988055 531.227012,119.637852 L536.783702,118.156068 C536.934486,118.115859 537.073767,118.040918 537.190403,117.937242 L540.767307,114.757772 C541.316461,114.269636 542.025656,114 542.760399,114 L554.481748,114 C554.991581,114 555.493003,114.129932 555.938677,114.377528 L564.196999,118.965485 C564.292567,119.018578 564.396194,119.055641 564.503756,119.075198 L573.007227,120.621283 C573.104105,120.638897 573.200057,120.66127 573.294734,120.688321 C574.887839,121.143494 575.810315,122.803951 575.355142,124.397056 L574.375969,127.824163 C574.007996,129.112068 572.830838,130 571.491397,130 L571,130 C570.447715,130 570,129.552285 570,129 C570,128.447715 570.447715,128 571,128 L571.491397,128 C571.937878,128 572.330264,127.704023 572.452921,127.274721 L573.388556,124 L571.69737,124 C571.145085,124 570.69737,123.552285 570.69737,123 C570.69737,122.721467 570.811245,122.469531 570.994979,122.288209 L564.145985,121.042937 C564.079158,121.030787 564.012837,121.016384 563.947133,120.999768 Z M539.623239,118.450632 L541.820712,119 L550,119 L550,116 L542.760399,116 C542.515484,116 542.279086,116.089879 542.096035,116.252591 L539.623239,118.450632 Z M564.5,133 C562.014719,133 560,130.985281 560,128.5 C560,126.014719 562.014719,124 564.5,124 C566.985281,124 569,126.014719 569,128.5 C569,130.985281 566.985281,133 564.5,133 Z M564.5,131 C565.880712,131 567,129.880712 567,128.5 C567,127.119288 565.880712,126 564.5,126 C563.119288,126 562,127.119288 562,128.5 C562,129.880712 563.119288,131 564.5,131 Z M539.5,133 C537.014719,133 535,130.985281 535,128.5 C535,126.014719 537.014719,124 539.5,124 C541.985281,124 544,126.014719 544,128.5 C544,130.985281 541.985281,133 539.5,133 Z M539.5,131 C540.880712,131 542,129.880712 542,128.5 C542,127.119288 540.880712,126 539.5,126 C538.119288,126 537,127.119288 537,128.5 C537,129.880712 538.119288,131 539.5,131 Z" id="sedan"></path>
                      </g>
                  </g>
              </svg></div>
              <h2>Drive the Future</h2>
              <p>Technology moves fast and so should you. Through TourGo membership you have access to the newest high spec vehicles with upgrade options available throughout your contract. Own the road. Own your driving. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
  
  
          <!-- START THE FEATURETTES -->
  
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Trouble getting on the road? <span class="text-muted">We've got you covered.</span></h2>
              <p class="lead">TourGo is aimed at newer drivers. Our platform and membership make getting on the road easier and more affordable. Telematic technology allows us to make driving accessible and safe, helping you get on the road.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto opacity" src="{% static 'images/road-ft.jpg' %}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Confused about costs? <span class="text-muted">TourGo is all inclusive.</span></h2>
              <p class="lead">By bundling your vehicle leasing, insurance, tax, and maintenance into a monthly subscription, TourGo not only handles the headache of managing the costs, but spreads it across your contract period making it easier to manage.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto opacity" src="{% static 'images/cost-ft.jpg' %}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">How do we do this? <span class="text-muted">Making you a skilled driver.</span></h2>
              <p class="lead">A telematics device in your car provides you with real time information about your driving which is then used to provide learning opportunities to make you a great driver. Learning on maintenance and fuel-efficient driving are also available to reduce the long term costs of driving.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto opacity" src="{% static 'images/skill-ft.jpg' %}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">
  
          <!-- /END THE FEATURETTES -->
  
        </div><!-- /.container -->
  
  
        <!-- FOOTER -->
        <footer class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
          <p>&copy; 2019 TourGo &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
      </main>
      <div>Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'index_css/vendor/jquery/jquery.min.js' %} "></script>
  <script src="{% static 'index_css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
