{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Site title -->
    <title>TourGo: Drive the future</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Additional CSS #possibly deletable
        <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">-->

    <!-- Bootstrap core CSS -->
    <link href="{% static 'index_css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Page CSS -->
    <link href="{% static 'custom_css/index.css' %}" rel="stylesheet">
    <link href="{% static 'custom_css/quote.css' %}" rel="stylesheet">
    <link href="{% static 'custom_css/learning.css' %}" rel="stylesheet">

    <!-- Scroll JS -->


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <!-- js calculator -->
    <script>




    </script>
    <!-- js calculator -->

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark static-top" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}"><span class="tour">Tour</span>Go<img
                        src="{% static 'images/car.png' %}" width="60" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quote' %}">get a quote</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">how it works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'faq' %}">faq</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_dash' %}">dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Page Content -->
    <main role="main">
        <div class="jumbotron"></div>
        <div class="container-form">
                <h1>Welcome to the Learning Platform</h1>
                <div class="text_block">
                    <p>This section describes the rules for keeping pace in traffic and the speed limits that apply on
                        different
                        types of road and to different vehicles.</p>
                    <p>If you'd like to look at other lessons currently available to you, please select from below.</p>
                    <div class="button-area-line">
                        <a href="{% url 'speed_learn' %}">Speed</a>
                        <a href="{% url 'smoothness_learn' %}">Smoothness</a>
                        <a href="{% url 'fatigue_learn' %}">Fatigue</a>
                        <a href="{% url 'tod_learn' %}">Time of Day</a>
                    </div>
                </div>
                <div class="codegena_iframe" data-src="https://www.youtube.com/embed/LC5oMrwAovg"
                    style="height:505px;width:853px;" data-responsive="true"
                    data-img="https://www.scienceabc.com/wp-content/uploads/2015/10/Car-driving-on-freeway-at-sunset-motion-blur-full-speed-06photos.jpg"
                    data-css="background:url('//codegena.com/wp-content/uploads/2015/09/loading.gif') white center center no-repeat;border:0px;">
                </div>
                <script src="https://rawgit.com/shaneapen/Codegena/master/async-iframe.js"></script>
    
    
            <tr>
                <td width='50%'><a
                        href="//www.google.com/maps/embed/v1/place?key=AIzaSyAEIIVLTLc_JfDkoF_j3lv8Y5j6qpf5NoI&q=lucan"
                        target="iframe_a">google maps</a></td>
            </tr>

            <iframe class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/directions?origin=53.3857717,-6.2543246&destination=53.2836717,-6.4230018&key=AIzaSyAEIIVLTLc_JfDkoF_j3lv8Y5j6qpf5NoI"
                allowfullscreen></iframe>




        </div>

        <!-- FOOTER -->
        <div class="ft-container">
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <p class="float-right">
                    <a href="#">Back to top</a>
                </p>
                <div class="row">
                    <div class="col-12 col-md">
                        <a href="{% url 'about' %}"><img class="mb-2" src="{% static 'favicon/favicon-96x96.png' %}"
                                alt="" width="72" height="72"></a>
                        <small class="d-block mb-3 text-muted">&copy; 2018-2019</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="{% url 'index' %}">Home</a></li>
                            <li><a class="text-muted" href="{% url 'about' %}">About</a></li>
                            <li><a class="text-muted" href="{% url 'faq' %}">FAQs</a></li>
                            <li><a class="text-muted" href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="{% url 'quote' %}">Join TourGo</a></li>
                            <li><a class="text-muted" href="{% url 'login' %}">Login</a></li>
                            <li><a class="text-muted" href="{% url 'user_dash' %}">Dashboard</a></li>
                            <li><a class="text-muted" href="{% url 'user_dash' %}">Learning platform</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted"
                                    href="https://gitlab.computing.dcu.ie/moored39/2019-ca472-gambo-moore">Sitemap</a>
                            </li>
                            <li><a class="text-muted"
                                    href="https://gitlab.computing.dcu.ie/moored39/2019-ca472-gambo-moore">Locations</a>
                            </li>
                            <li><a class="text-muted"
                                    href="https://gitlab.computing.dcu.ie/moored39/2019-ca472-gambo-moore">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'index_css/vendor/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'index_css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Scrolling Header JavaScript -->
    <script src="{% static 'custom_js/scroll.js' %}"></script>
</body>

</html>