{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Site title -->
    <title>TourGo: Drive the future</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Additional CSS #possibly deletable
        <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">-->

    <!-- Bootstrap core CSS -->
    <link href="{% static 'index_css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Page CSS -->
    <link href="{% static 'custom_css/index.css' %}" rel="stylesheet">
    <link href="{% static 'custom_css/quote.css' %}" rel="stylesheet">

    <!-- Scroll JS -->


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <!-- js calculator -->
    <script>

        function calculatePremium() {
            var basePrice = 2500;
            var title = document.getElementsByName('title').value;
            var fname = document.getElementsByName('fname').value;
            var dob = document.getElementById('bday').value;
            var bday = +new Date(dob);
            var age = ~~((Date.now() - bday) / (31557600000));
            var ages = { 21: 1, 22: 1.0168, 23: 1.0173, 24: 0.9728, 25: 1.1973, 26: 1.1826, 27: 1.1709, 28: 1.158, 29: 1.158 };
            var ageBasePrice = ages[age] * basePrice;

            var occ = document.getElementsByName('occupation')[0];
            var occPc = occ.options[occ.selectedIndex].value;
            var occSubVal = basePrice - basePrice * occPc;

            var hh = document.getElementsByName('household')[0];
            var hhPc = hh.options[hh.selectedIndex].value;
            var hhSubVal = basePrice - basePrice * hhPc;

            var car = document.getElementsByName('car')[0];
            var carPc = car.options[car.selectedIndex].value;
            var carSubVal = basePrice - basePrice * carPc;

            var loc = document.getElementsByName('location')[0];
            var locPc = loc.options[loc.selectedIndex].value;
            var locSubVal = basePrice - basePrice * locPc;

            var bon = document.getElementsByName('ncb')[0];
            var bonPc = bon.options[bon.selectedIndex].value;
            var bonSubVal = basePrice - basePrice * bonPc;

            var lic = document.getElementsByName('licence')[0];
            var licPc = lic.options[lic.selectedIndex].value;
            var licSubVal = basePrice - basePrice * licPc;

            var exp = document.getElementsByName('namedexp')[0];
            var expPc = exp.options[exp.selectedIndex].value;
            var expSubVal = basePrice - basePrice * expPc;

            var pen = document.getElementsByName('penalty')[0];
            var penPc = pen.options[pen.selectedIndex].value;
            var penSubVal = basePrice - basePrice * penPc;

            var add = document.getElementsByName('addDrivers')[0];
            var addPc = add.options[add.selectedIndex].value;
            var addSubVal = basePrice - basePrice * addPc;

            var claims = document.getElementsByName('claims')[0];
            var claimsPc = claims.options[claims.selectedIndex].value;
            var claimsSubVal = basePrice - basePrice * claimsPc;

            var finalInsurancePrice = ageBasePrice - occSubVal - hhSubVal - carSubVal - locSubVal - licSubVal - expSubVal - penSubVal - addSubVal - claimsSubVal;

            console.log("The base price is €" + basePrice);
            console.log("The final insurance cost is €" + finalInsurancePrice);

            //gets the first name input 
            var title = document.getElementById("title").value;
            var fname = document.getElementById("fname").value;
            var lname = document.getElementById("lname").value;
            var occupation = document.getElementById("occupation").value;
            var household = document.getElementById("household").value;
            var car = document.getElementById("car").value;
            var address_l1 = document.getElementById("address_l1").value;
            var address_l2 = document.getElementById("address_l2").value;
            var area = document.getElementById("location").value;
            var licence = document.getElementById("licence").text;
            var ncb = document.getElementById("ncb").value;
            var namedexp = document.getElementById("namedexp").value;
            var penalty = document.getElementById("penalty").value;
            var addDrivers = document.getElementById("addDrivers").value;
            var claims = document.getElementById("claims").value;

            var locationSelect = document.getElementById("location");
            var area = locationSelect.options[locationSelect.selectedIndex].text;

            // form validation
            // console.log(age);
            // if (age == 0){
            //     // alert("You must be aged 21-29 in order to use TourGo");
            //     document.forms["calculator"]["bday"].style.border = "1px solid red";
            //     document.getElementById("bdaymsg").innerHTML = "no input";
            //     scroll(0,0)
            //     return false;
            // }



            var dataIsValid = true;

            if (title == "") {
                // alert("You must be aged 21-29 in order to use TourGo");
                document.forms["calculator"]["title"].style.border = "1px solid red";
                document.getElementById("titlemsg").innerHTML = "Please enter your title";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["title"].style.border = "";
                document.getElementById("titlemsg").innerHTML = "";
            }

            if (fname == "") {
                document.forms["calculator"]["fname"].style.border = "1px solid red";
                document.getElementById("fnamemsg").innerHTML = "Please enter your first name";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["fname"].style.border = "";
                document.getElementById("fnamemsg").innerHTML = "";
            }

            if (lname == "") {
                document.forms["calculator"]["lname"].style.border = "1px solid red";
                document.getElementById("lnamemsg").innerHTML = "Please enter your last name";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["lname"].style.border = "";
                document.getElementById("lnamemsg").innerHTML = "";
            }

            if (!(age > 20 && age < 30)) {
                document.forms["calculator"]["bday"].style.border = "1px solid red";
                document.getElementById("bdaymsg").innerHTML = "TourGo members must be aged 21-29";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["bday"].style.border = "";
                document.getElementById("bdaymsg").innerHTML = "";
            }

            if (occupation == "") {
                document.forms["calculator"]["occupation"].style.border = "1px solid red";
                document.getElementById("emplmsg").innerHTML = "Please enter your employment status";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["occupation"].style.border = "";
                document.getElementById("emplmsg").innerHTML = "";
            }

            if (household == "") {
                document.forms["calculator"]["household"].style.border = "1px solid red";
                document.getElementById("homemsg").innerHTML = "Please enter your home type";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["household"].style.border = "";
                document.getElementById("homemsg").innerHTML = "";
            }

            if (car == "") {
                document.forms["calculator"]["car"].style.border = "1px solid red";
                document.getElementById("carmsg").innerHTML = "Please enter your preferred vehicle";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["car"].style.border = "";
                document.getElementById("carmsg").innerHTML = "";
            }


            if (address_l1 == "") {
                document.forms["calculator"]["address_l1"].style.border = "1px solid red";
                document.getElementById("adrmsg").innerHTML = "Please enter your address";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["address_l1"].style.border = "";
                document.getElementById("adrmsg").innerHTML = "";
            }

            if (location == "") {
                document.forms["calculator"]["location"].style.border = "1px solid red";
                document.getElementById("locmsg").innerHTML = "Please enter the area you live";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["location"].style.border = "";
                document.getElementById("locmsg").innerHTML = "";
            }

            if (licence == "") {
                document.forms["calculator"]["licence"].style.border = "1px solid red";
                document.getElementById("licmsg").innerHTML = "Please enter your licence type";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["licence"].style.border = "";
                document.getElementById("licmsg").innerHTML = "";
            }

            if (ncb == "") {
                document.forms["calculator"]["ncb"].style.border = "1px solid red";
                document.getElementById("ncbmsg").innerHTML = "Please enter your claims-free own driving experience";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["ncb"].style.border = "";
                document.getElementById("ncbmsg").innerHTML = "";
            }

            if (namedexp == "") {
                document.forms["calculator"]["namedexp"].style.border = "1px solid red";
                document.getElementById("nxpmsg").innerHTML = "Please enter your named driving experience";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["namedexp"].style.border = "";
                document.getElementById("nxpmsg").innerHTML = "";
            }

            if (penalty == "") {
                document.forms["calculator"]["penalty"].style.border = "1px solid red";
                document.getElementById("penmsg").innerHTML = "Please enter the number of penalty points you have";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["penalty"].style.border = "";
                document.getElementById("penmsg").innerHTML = "";
            }

            if (addDrivers == "") {
                document.forms["calculator"]["addDrivers"].style.border = "1px solid red";
                document.getElementById("addmsg").innerHTML = "Please enter the number of additional drivers you want on your policy";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["addDrivers"].style.border = "";
                document.getElementById("addmsg").innerHTML = "";
            }

            if (claims == "") {
                document.forms["calculator"]["claims"].style.border = "1px solid red";
                document.getElementById("clmmsg").innerHTML = "Please enter the number of claims you've made in the past 5 years";
                scroll(0, 0)
                dataIsValid = false;
            } else {
                document.forms["calculator"]["claims"].style.border = "";
                document.getElementById("clmmsg").innerHTML = "";
            }

            if (dataIsValid) { } else {
                alert("You didn't fill out all the fields or filled something in wrong");
                return false;
            }

            document.getElementById("personal").innerHTML = "Personal Details";
            document.getElementById("nameTitle").innerHTML = "Name";
            document.getElementById("name").innerHTML = title + " " + fname + " " + lname;
            document.getElementById("addressTitle").innerHTML = "Address";
            document.getElementById("address").innerHTML = address_l1 + ", " + address_l2 + ", " + area;
            document.getElementById("ageTitle").innerHTML = "Age";
            document.getElementById("age").innerHTML = age;

            document.getElementById("Vehicle").innerHTML = "Vehicle";
            document.getElementById("brandTitle").innerHTML = "Brand and Model";
            document.getElementById("brand").innerHTML = car;
            document.getElementById("engTitle").innerHTML = "Engine";
            document.getElementById("eng").innerHTML = "1L Petrol; Manual Transmission"
            document.getElementById("yearTitle").innerHTML = "Year Registered";
            document.getElementById("year").innerHTML = "2019";

            document.getElementById("member").innerHTML = "Membership";
            document.getElementById("premTitle").innerHTML = "Annual Premium";
            document.getElementById("prem").innerHTML = finalInsurancePrice;
            document.getElementById("premMonthTitle").innerHTML = "Monthly Cost";
            document.getElementById("premMonth").innerHTML = finalInsurancePrice/12;
            document.getElementById("excessTitle").innerHTML = "Policy Excess";
            document.getElementById("excess").innerHTML = "€1000";
            document.getElementById("useClassTitle").innerHTML = "Class of use";
            document.getElementById("useClass").innerHTML = "Social, domestic and pleasure; up to 15,000km per year";


            document.getElementById("output1").innerHTML = "The base price is €" + basePrice;
            //prints to the html 
            document.getElementById("output2").innerHTML = "Hey " + fname + "! Your total premium cost is €" + finalInsurancePrice;


        }


    </script>
    <!-- js calculator -->

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark static-top" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}"><span class="tour">Tour</span>Go<img
                        src="{% static 'images/car.png' %}" width="60" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'quote' %}">get a quote
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">how it works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'faq' %}">faq</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_dash' %}">dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Page Content -->
    <main role="main">
        <div class="container-form">
            <br />
            <br />
            <br />
            <form name="calculator" action='/register' method='GET'>
                {% if user.is_authenticated %}
                <h1> Your are logged in as : {{user.username}}</h1>
                {% else %}
                <h1> your're not logged in </h1>
                {% endif %}

                <div class="row">
                    <div class="col-25">
                        <label for="title">Title</label>
                    </div>
                    <div class="col-75">
                        <select name="title" id="title" required>
                            <option value="" disabled selected>Please select</option>
                            <option name="jemil" value="mr">Mr</option>
                            <option>Mrs</option>
                            <option>Ms</option>
                            <option>Dr</option>
                        </select>
                        <div id="titlemsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="fname" id="fname" placeholder="Your First Name..." required>
                        <div id="fnamemsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="lname">Last Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="lname" id="lname" placeholder="Your Last Name..." required>
                        <div id="lnamemsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="date">Date of Birth</label>
                    </div>
                    <div class="col-75">
                        <input type="date" name="bday" id="bday" required>
                        <div id="bdaymsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="employment">Employment Status</label>
                    </div>
                    <div class="col-75">
                        <select name="occupation" id="occupation" required>
                            <option value="" disabled selected>Please select</option>
                            <option value="1">Unemployed</option>
                            <option value="1">Full Time Student</option>
                            <option value="1">Employed - Part Time</option>
                            <option value="1">Employed - Full Time</option>
                            <option value="1">Self Employed</option>
                        </select>
                        <div id="emplmsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="household">My home is</label>
                    </div>
                    <div class="col-75">
                        <select name="household" id="household" required>
                            <option value="" disabled selected>Please select</option>
                            <option value="0.99">Owned by me</option>
                            <option value="1">House/Apt owned by family</option>
                            <option value="1">House/Apt not owned by family</option>
                            <option value="1">Other</option>
                        </select>
                        <div id="homemsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="car">Vehicle preference</label>
                    </div>
                    <div class="col-75">
                        <select name="car" id="car" required>
                            <option value="" disabled selected>Please select</option>
                            <option value="0.87">Seat Mii</option>
                            <option value="0.99">Hyundai i10</option>
                            <option value="1">Toyota Yaris</option>
                            <option value="1.01">Volkswagen Polo</option>
                        </select>
                        <div id="carmsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="address_l1">Address Line 1</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="address_l1" id="address_l1" placeholder="First line of your address"
                            required>
                        <div id="adrmsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="address_l2">Address Line 2</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="address_l2" id="address_l2" placeholder="Second line of your address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="location">Area</label>
                    </div>
                    <div class="col-75">
                        <select name="location" id="location" required>
                            <option value="" disabled selected>Please select</option>
                            <option value="1.1045">Carlow</option>
                            <option value="1.11217">Cavan</option>
                            <option value="0.9961">Clare</option>
                            <option value="0.9828">Cork City North</option>
                            <option value="0.9847">Cork City South</option>
                            <option value="0.8623">Cork County</option>
                            <option value="1.0537">Donegal</option>
                            <option value="1.0279">Dublin 1</option>
                            <option value="0.9979">Dublin 2</option>
                            <option value="0.9977">Dublin 3</option>
                            <option value="0.9010">Dublin 4</option>
                            <option value="0.9977">Dublin 5</option>
                            <option value="0.9881">Dublin 6</option>
                            <option value="0.9414">Dublin 6W</option>
                            <option value="1.0137">Dublin 7</option>
                            <option value="1.0279">Dublin 8</option>
                            <option value="1.1469">Dublin 9</option>
                            <option value="1.0279">Dublin 10</option>
                            <option value="1.2044">Dublin 11</option>
                            <option value="1.0687">Dublin 12</option>
                            <option value="0.8541">Dublin 13</option>
                            <option value="0.7136">Dublin 14</option>
                            <option value="1.0415">Dublin 15</option>
                            <option value="1.006">Dublin 16</option>
                            <option value="1.1220">Dublin 17</option>
                            <option value="0.9702">Dublin 18</option>
                            <option value="1.1132">Dublin 20</option>
                            <option value="1.1132">Dublin 22</option>
                            <option value="1.0649">Dublin 24</option>
                            <option value="0.9184">Dun Laoghaire Rathdown</option>
                            <option value="0.9713">Fingal</option>
                            <option value="1.075">Dublin South</option>
                            <option value="1.0329">Galway City</option>
                            <option value="0.9751">Galway County</option>
                            <option value="0.9184">Dublin County</option>
                            <option value="0.9408">Kerry</option>
                            <option value="0.9785">Celbridge</option>
                            <option value="1.0459">Kilcock</option>
                            <option value="0.9941">Leixlip</option>
                            <option value="0.9651">Maynooth</option>
                            <option value="0.9164">Naas</option>
                            <option value="1.0104">Newbridge</option>
                            <option value="1">Straffan</option>
                            <option value="1.0521">Kildare County</option>
                            <option value="1.0414">Kilkenny</option>
                            <option value="1.0359">Laois</option>
                            <option value="1.2102">Leitrim</option>
                            <option value="1.1925">Limerick City</option>
                            <option value="1.1101">Limerick County</option>
                            <option value="1.2597">Longford</option>
                            <option value="1.1487">Ardee</option>
                            <option value="1.2087">Drogheda</option>
                            <option value="1.3885">Dundalk</option>
                            <option value="1.4611">Louth North County</option>
                            <option value="1.1487">Louth South County</option>
                            <option value="0.9120">Mayo</option>
                            <option value="1.0113">Ashbourne</option>
                            <option value="1.1487">Clonee</option>
                            <option value="0.9709">Dunboyne</option>
                            <option value="0.9324">Dunshaughlin</option>
                            <option value="0.9425">Enfield</option>
                            <option value="1.0968">Garristown</option>
                            <option value="1.0968">Navan</option>
                            <option value="1.1426">Oldtown</option>
                            <option value="1.0214">Rathoath</option>
                            <option value="1.0214">Summerhill</option>
                            <option value="1.0968">Meath County</option>
                            <option value="0.9871">Monaghan</option>
                            <option value="0.9423">Offaly</option>
                            <option value="1.1657">Roscommon</option>
                            <option value="1.1288">Sligo</option>
                            <option value="0.9997">Tipperary North County</option>
                            <option value="0.9991">Tipperary South County</option>
                            <option value="0.9483">Waterford City</option>
                            <option value="0.9033">Waterford County</option>
                            <option value="1.0861">Westmeath</option>
                            <option value="0.8941">Wexford</option>
                            <option value="1.0433">Blessington</option>
                            <option value="0.9977">Bray</option>
                            <option value="1.0651">Greystones</option>
                            <option value="0.9604">Wicklow County</option>
                        </select>
                        <div id="locmsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="licence">Licence Type</label>
                    </div>
                    <div class="col-75">
                        <select name="licence" id="licence" required>
                            <option value="" disabled selected>Please select</option>
                            <option value="0.7084">Full Licence</option>
                            <option value="1">Provisional Licence</option>
                        </select>
                        <div id="licmsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="ncb">Years experience driving (claims free)</label>
                    </div>
                    <div class="col-75">
                        <select name="ncb" id="ncb" required>
                            <option value="" disabled selected>Please select</option>
                            <option value="1">0 Years</option>
                            <option value="0.5980">1 Year</option>
                            <option value="0.5618">2 Years</option>
                            <option value="0.5026">3 Years</option>
                            <option value="0.4433">4 Years</option>
                            <option value="0.3841">5 Years</option>
                            <option value="0.3249">6 Years</option>
                            <option value="0.2656">7 Years</option>
                            <option value="0.2064">8 Years</option>
                            <option value="0.1471">9 Years</option>
                            <option value="0.879">10 Years</option>
                        </select>
                        <div id="ncbmsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="namedexp">Years experience driving (named driver)</label>
                    </div>
                    <div class="col-75">
                        <select name="namedexp" id="namedexp" required>
                            <option value="" disabled selected>Please select</option>
                            <option value="1">0 Years</option>
                            <option value="0.9443">1 Year</option>
                            <option value="0.9443">2 Years</option>
                            <option value="0.9443">3 Years</option>
                            <option value="0.9443">4 Years</option>
                            <option value="0.9443">5 Years</option>
                            <option value="0.9443">6+ Years</option>
                        </select>
                        <div id="nxpmsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="penalty">Have you any penalty points?</label>
                    </div>
                    <div class="col-75">
                        <select name="penalty" id="penalty" required>
                            <option value="" disabled selected>Please select</option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6+</option>
                        </select>
                        <div id="penmsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="addDrivers">Additional Drivers</label>
                    </div>
                    <div class="col-75">
                        <select name="addDrivers" id="addDrivers" required>
                            <option value="" disabled selected>Please select</option>
                            <option value="1">0 named driver</option>
                            <option value="1">1 named driver</option>
                            <option value="1">2 named drivers</option>
                        </select>
                        <div id="addmsg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="claims">Claims in the last 5 Years</label>
                    </div>
                    <div class="col-75">
                        <select name="claims" id="claims" required>
                            <option value="" disabled selected>Please select</option>
                            <option value="1">0</option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                        </select>
                        <div id="clmmsg"></div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn" type="button" onclick="return calculatePremium()" value="javaScript">
                        Submit (JS)
                    </button>

                </div>
                <div class="row">

                    <button class="btn" type="submit" name="submit" value="python">
                        Purchase (PY)
                    </button>
                </div>


            </form>

            <div>
                <!-- outputs the users name and insurance -->
                <p id="personal"></p>
                <p id="nameTitle"></p>
                <p id="name"></p>
                <p id="addressTitle"></p>
                <p id="address"></p>
                <p id="ageTitle"></p>
                <p id="age"></p>
                <p id="Vehicle"></p>
                <p id="brandTitle"></p>
                <p id="brand"></p>
                <p id="engTitle"></p>
                <p id="eng"></p>
                <p id="yearTitle"></p>
                <p id="year"></p>
                <p id="member"></p>
                <p id="premTitle"></p>
                <p id="prem"></p>
                <p id="premMonthTitle"></p>
                <p id="premMonth"></p>
                <p id="excessTitle"></p>
                <p id="excess"></p>
                <p id="useClassTitle"></p>
                <p id="useClass"></p>
                <p id="output1"></p>
                <p id="output2"></p>




            </div>
        </div>

        <!-- FOOTER -->
        <div class="ft-container">
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <p class="float-right">
                    <a href="#">Back to top</a>
                </p>
                <div class="row">
                    <div class="col-12 col-md">
                        <a href="{% url 'about' %}"><img class="mb-2" src="{% static 'favicon/favicon-96x96.png' %}"
                                alt="" width="72" height="72"></a>
                        <small class="d-block mb-3 text-muted">&copy; 2018-2019</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="{% url 'index' %}">Home</a></li>
                            <li><a class="text-muted" href="{% url 'about' %}">About</a></li>
                            <li><a class="text-muted" href="{% url 'faq' %}">FAQs</a></li>
                            <li><a class="text-muted" href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="{% url 'quote' %}">Join TourGo</a></li>
                            <li><a class="text-muted" href="{% url 'login' %}">Login</a></li>
                            <li><a class="text-muted" href="{% url 'user_dash' %}">Dashboard</a></li>
                            <li><a class="text-muted" href="{% url 'user_dash' %}">Learning platform</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted"
                                    href="https://gitlab.computing.dcu.ie/moored39/2019-ca472-gambo-moore">Sitemap</a>
                            </li>
                            <li><a class="text-muted"
                                    href="https://gitlab.computing.dcu.ie/moored39/2019-ca472-gambo-moore">Locations</a>
                            </li>
                            <li><a class="text-muted"
                                    href="https://gitlab.computing.dcu.ie/moored39/2019-ca472-gambo-moore">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'index_css/vendor/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'index_css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Scrolling Header JavaScript -->
    <script src="{% static 'custom_js/scroll.js' %}"></script>
</body>

</html>