{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome to TourGo regitration</title>

  <!-- Bootstrap core CSS -->
  


</head>

<body>

       <form >
                    <p>Title: <select name="title">
                        <option name="jemil" value="mr" >Mr</option>
                        <option >Mrs</option>
                        <option >Ms</option>
                        <option >Dr</option>
            </select></p>
            <p>First Name: <input type="text" name="fname" id="fname"/></p>  
            <p>Last Name: <input type="text" name="lname" id="lname"/></p>     

            <p>Date of Birth: <input type="date" name="bday" id="bday"></p>
            
            


       </form>
      
   <div>      
          <!-- outputs the users name and insurance -->  
          <p id="output1"></p>
          <p id="output2"></p>
  

</div>
</body>

</html>
