{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome to TourGo regitration</title>

  <!-- Bootstrap core CSS -->


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">



</head>

<body>

  <form>
    <p>Title: <select name="title">
        <option name="jemil" value="mr">Mr</option>
        <option>Mrs</option>
        <option>Ms</option>
        <option>Dr</option>
      </select></p>
    <p>First Name: </p>

    <p>Last Name:</p>

    <p>Date of Birth: </p>

    <p>Email: </p>

    <p>username: <input type="text" name="username" /></p>

    <p>password: <input type="text" name="password" /></p>

    <p>Choose your car <select name="car_type">
        <option value="Hyundia i10">Hyundia I10</option>
        <option value="Seat Mii">Seat Mii</option>
        <option value="Toyota Yaris">Toyota Yaris </option>
        <option value="Volkswagen Polo">Volkswagen Polo</option>
      </select></p>

    <p>Premium: <input type="text" name="premium"></p>




  </form>


</body>

</html>