{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TourGo: Drive the future</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->

  <link href="{% static 'user_dash_css/css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'custom_css/user_dash.css' %}" rel="stylesheet">
  <link href="{% static 'index_css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-denim sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">

        <div class="sidebar-brand-text mx-3">
          <span class="tour">Tour</span><span class="go">Go</span><img src="{% static 'images/car.png' %}" width="60" />
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'user_dash' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Learning Platform
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-graduation-cap"></i>
          <span>Learning Tasks</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Learning Platform:</h6>
            <a class="collapse-item" href="{% url 'learning_platform' %}">My Lessons</a>
            <a class="collapse-item" href="{% url 'learning_platform' %}">Lesson Library</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-tools"></i>
          <span>Maintenance Checklist</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Vehicle Maintenance:</h6>
            <a class="collapse-item" href="{% url 'maintenance_checklist' %}">My Checklist</a>
            <a class="collapse-item" href="{% url 'maintenance_checklist' %}">Maintenance Guidelines</a>
            <a class="collapse-item" href="{% url 'contact' %}">Service Request</a>
            <a class="collapse-item" href="{% url 'contact' %}">Help</a>
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Account
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
          aria-controls="collapsePages">
          <i class="fas fa-fw fa-user-circle"></i>
          <span>Amend Policy</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Policy:</h6>
            <a class="collapse-item" href="{% url 'contact' %}">Change Car</a>
            <a class="collapse-item" href="{% url 'contact' %}">Add Driver</a>
            <a class="collapse-item" href="{% url 'coming_soon' %}">Purchase Add-Ons</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Other Pages:</h6>
            <a class="collapse-item" href="{% url 'contact' %}">Report a Problem</a>
            <a class="collapse-item" href="{% url 'contact' %}">Cancel Policy</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">
          <i class="fas fa-fw fa-euro-sign"></i>
          <span>Make a Payment</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">
          <i class="fas fa-fw fa-question-circle"></i>
          <span>Support</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Heading -->
      <div class="sidebar-heading">
        Site
      </div>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">
          <i class="fas fa-fw fa-home"></i>
          <span>Home</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">
          <i class="fas fa-fw fa-network-wired"></i>
          <span>About</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'faq' %}">
          <i class="fas fa-fw fa-info"></i>
          <span>FAQs</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">
          <i class="fas fa-fw fa-envelope"></i>
          <span>Contact</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">


      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form> -->

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <!-- <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a> -->
            <!-- Dropdown - Messages -->
            <!-- <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li> -->

            <li>
              <div class="selector">
                <form action="{% url 'user_dash'  %}" method="get">
                  Select Driver: <select name="user_id">

                    <option value="1" selected="selected">Jemil</option>
                    <option value="2">Declan</option>
                    <option value="3">Sean</option>
                    <option value="4">Roisin</option>
                    <option value="5">Peter</option>
                    <option value="6">Frank</option>
                  </select>
                  <input type="submit" value="Enter" />
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link nav-link-icon dropdown-toggle" href="#" id="alertsDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw text-denim-300"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'learning_platform'  %}">
                  <div class="mr-3">
                    <div class="icon-circle bg-denim">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">New Learning resources are now available on the Learning Platform.
                      Check them out!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'coming_soon'  %}">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    Payment has been received for this month.
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'contact'  %}">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Alert: You're due for a service soon. Please contact our service center to arrange a checkup.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="{% url 'coming_soon'  %}">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link nav-link-icon dropdown-toggle" href="{% url 'coming_soon'  %}" id="messagesDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw text-denim-300"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'coming_soon'  %}">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Looks like your due and upgrade! If you'd like to upgrade to a new car
                      please see our...</div>
                    <div class="small text-gray-500">Emma (Vehicles) · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'coming_soon'  %}">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">To clarify your question, when you're approaching a roundabout be sure
                      to...</div>
                    <div class="small text-gray-500">Jae (Learning) · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'coming_soon'  %}">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Your credit card details have been updated. Thank you for letting us
                      know. All future payments will be charged to this new method.</div>
                    <div class="small text-gray-500">Thomas (Payments) · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/2K_-PG95qlI/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>


                    <div class="text-truncate">We've just finished servicing your Volkswagen Polo and it's ready for
                      you
                      to collect.</div>
                    <div class="small text-gray-500">Yvette (Service) · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                  {% for x in journey_score %}
                  {{ x.f_name }} {{x.l_name}}
                  {% endfor %}


                </span>
                <img class="img-profile rounded-circle"  width="60px" height="60px" src="{% static 'images/jem.png' %}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'coming_soon' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="{% url 'coming_soon' %}">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="{% url 'coming_soon' %}">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">

            <h1 class="h3 mb-0 text-gray-800">
              {% for x in smoothness %}
              {{ x.car_type }}
              {% endfor %}
            </h1>
            <button onclick="scrollWin()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-car-side fa-sm text-white-50"></i> Vehicle Profile</button>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-denim shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-denim text-uppercase mb-1">Journeys (this week)
                        {% if user.is_authenticated %}

                        <p> welcome {{ user.username }}</p>
                        {% endif %}

                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {% for x in num_trips %}
                        {{ x.trips }}
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-car fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Distance Driven (this week)
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {% for x in km_driven %}
                        {{ x.km_driven }} km
                        {% endfor %}

                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-map-pin fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <a href="/learning_platform/">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Learning Tasks</div>
                      </a>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                              aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <a href="/maintenance_checklist/">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Maintenance Tasks</div>
                      </a>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">100%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%"
                              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-tools fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-denim">Driver Score Trends</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <button id="3" class="dropdown-item">Month View</button>
                      <button id="4" class="dropdown-item">Week View</button>
                      <button id="5" class="dropdown-item">Day View</button>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Report a Problem</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                      <input  type="hidden" id="jan" name="jan" value="{% if monthArray %}{{monthArray.0}}{% endif %}">
                      <input  type="hidden" id="feb" name="feb" value="{% if monthArray %}{{monthArray.1}}{% endif %}">
                      <input  type="hidden" id="mar" name="mar" value="{% if monthArray %}{{monthArray.2}}{% endif %}">
                      <input  type="hidden" id="apr" name="apr" value="{% if monthArray %}{{monthArray.3}}{% endif %}">
                      <input  type="hidden" id="may" name="may" value="{% if monthArray %}{{monthArray.4}}{% endif %}">
                      <input  type="hidden" id="jun" name="jun" value="{% if monthArray %}{{monthArray.5}}{% endif %}">
                      <input  type="hidden" id="jul" name="jul" value="{% if monthArray %}{{monthArray.6}}{% endif %}">
                      <input  type="hidden" id="aug" name="aug" value="{% if monthArray %}{{monthArray.7}}{% endif %}">
                      <input  type="hidden" id="sep" name="sep" value="{% if monthArray %}{{monthArray.8}}{% endif %}">
                      <input  type="hidden" id="oct" name="oct" value="{% if monthArray %}{{monthArray.9}}{% endif %}">
                      <input  type="hidden" id="nov" name="nov" value="{% if monthArray %}{{monthArray.10}}{% endif %}">
                      <input  type="hidden" id="dec" name="dec" value="{% if monthArray %}{{monthArray.11}}{% endif %}">

                      <input  type="hidden" id="wk1" name="wk1" value="{% if weekArray %}{{weekArray.0}}{% endif %}">
                      <input  type="hidden" id="wk2" name="wk2" value="{% if weekArray %}{{weekArray.1}}{% endif %}">
                      <input  type="hidden" id="wk3" name="wk3" value="{% if weekArray %}{{weekArray.2}}{% endif %}">
                      <input  type="hidden" id="wk4" name="wk4" value="{% if weekArray %}{{weekArray.3}}{% endif %}">
                      <input  type="hidden" id="wk5" name="wk5" value="{% if weekArray %}{{weekArray.4}}{% endif %}">
                      <input  type="hidden" id="wk6" name="wk6" value="{% if weekArray %}{{weekArray.5}}{% endif %}">
                      <input  type="hidden" id="wk7" name="wk7" value="{% if weekArray %}{{weekArray.6}}{% endif %}">
                      <input  type="hidden" id="wk8" name="wk8" value="{% if weekArray %}{{weekArray.7}}{% endif %}">
                      <input  type="hidden" id="wk9" name="wk9" value="{% if weekArray %}{{weekArray.8}}{% endif %}">
                      <input  type="hidden" id="wk10" name="wk10" value="{% if weekArray %}{{weekArray.9}}{% endif %}">

                      <input  type="hidden" id="mon" name="mon" value="{% if dayArray %}{{dayArray.0}}{% endif %}">
                      <input  type="hidden" id="tue" name="tue" value="{% if dayArray %}{{dayArray.1}}{% endif %}">
                      <input  type="hidden" id="wed" name="wed" value="{% if dayArray %}{{dayArray.2}}{% endif %}">
                      <input  type="hidden" id="thu" name="thu" value="{% if dayArray %}{{dayArray.3}}{% endif %}">
                      <input  type="hidden" id="fri" name="fri" value="{% if dayArray %}{{dayArray.4}}{% endif %}">
                      <input  type="hidden" id="sat" name="sat" value="{% if dayArray %}{{dayArray.5}}{% endif %}">
                      <input  type="hidden" id="sun" name="sun" value="{% if dayArray %}{{dayArray.6}}{% endif %}">

                      
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-denim">Current Score</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"> </i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <button id="0" class="dropdown-item">This Month</button>
                      <button id="1" class="dropdown-item">Last Month</button>
                      <button id="2" class="dropdown-item">Average</button>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Report a Problem</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                    <input type="hidden" id="score" name="score"
                      value="{% for x in journey_score %}{{ x.avg_journey_score }},{% endfor %}">
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-denim"></i> Positive
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-danger"></i> Negative
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-denim">Score Breakdown</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">Speed <span class="float-right">{{speedScoreWeekAvg}}%</span></h4>
                  <div class="progress mb-4">
                    <!-- ASSESS THIS -->
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{speedScoreWeekAvg}}%"
                      aria-valuenow="{{speedScoreWeekAvg}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Smoothness <span
                      class="float-right">{{fatigueScoreWeekAvg}}%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{fatigueScoreWeekAvg}}%"
                      aria-valuenow="{{fatigueScoreWeekAvg}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Fatigue <span class="float-right">{{smoothScoreWeekAvg}}%</span>
                  </h4>
                  <div class="progress mb-4">
                    <div class="bg-denim progress-bar" role="progressbar" style="width: {{smoothScoreWeekAvg}}%"
                      aria-valuenow="{{smoothScoreWeekAvg}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Time of Day <span class="float-right">{{todScoreWeekAvg}}%</span>
                  </h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{todScoreWeekAvg}}%"
                      aria-valuenow="{{todScoreWeekAvg}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>

              <!-- Color System -->
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <div class="card bg-denim text-white shadow">
                    <div class="card-body">
                      Vehicle
                      <div class="text-white-50 small">
                        {% for x in smoothness %}
                        {{ x.car_type }}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-success text-white shadow">
                    <div class="card-body">
                      Registration
                      <div class="text-white-50 small">
                        {% for x in smoothness %}
                        {{ x.car_reg }}
                        {% endfor %}

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-info text-white shadow">
                    <div class="card-body">
                      Engine size
                      <div class="text-white-50 small">
                        {% for x in smoothness %}
                        {{ x.engine_size }}
                        {% endfor %}


                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-warning text-white shadow">
                    <div class="card-body">
                      Mileage
                      <div class="text-white-50 small">
                        {% for x in smoothness %}
                        {{ x.car_mileage }}
                        {% endfor %}


                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                      Fuel economy
                      <div class="text-white-50 small">3.4L per 100km</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-secondary text-white shadow">
                    <div class="card-body">
                      Colour
                      <div class="text-white-50 small">Blue</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-6 mb-4">

              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-denim">Last Journey</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <iframe class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 50rem; height: 26.5rem;" frameborder="0" style="border:0" src={{src}} allowfullscreen></iframe>

                  </div>
                  <h4 class="small font-weight-bold">Recent Journey</h4>
                  <p>Most recently your travelled from <span class="place">{{start}}</span> to <span class="place">{{end}}</span>. You travelled a distance of
                    {{distance}}km. Your driver score was {{score}}. You departed at {{time_start}} and arrived at
                    {{time_end}}.</p>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; TourGo 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'login' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <script>

      </script>
      

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'user_dash_css/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'user_dash_css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'user_dash_css/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'user_dash_css/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'user_dash_css/vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'custom_js/scroll.js' %}"></script>
  <script src="{% static 'user_dash_css/js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'user_dash_css/js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>